* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
}

/* GENERAL */
a {
    text-decoration: none;
}
a:visited {
    color:initial;
}

h1 a {
    text-decoration: none;
}

li a:hover {
    background-color: hsl(0, 0%, 15%);
    color: white;
    text-shadow: 1px 1px 5px;
}



/* BODY - START */
.body {
    display: grid;
    /* mobile view */
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 200px auto 1fr 1fr 1fr 320px;
    grid-template-areas:    "hd hd"
                            "nv nv"
                            "mn mn"
                            "mn mn"
                            "mn mn"
                            "ft ft";
}
/* BODY - END */


/* HEADER - START */
.header {
    grid-area: hd;
    border-bottom: 2px solid;
    background-image: url(../assets/imgs/header-bg-2-small.jpg);
    background-position:center;
    background-size:cover;
    background-repeat: no-repeat;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.header h1 a{
    font-size: 2.8rem;
    font-family: 'Signika', sans-serif;
    display: inline-block;
    color: azure;
    text-shadow:  1px 1px black;
}
/* HEADER - END */


/* NAV - START */
.nav {
    grid-area: nv;
    background-color: rgb(103, 156, 192);

    position: sticky;
    top:0;
}

.menu-list {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    list-style: none;
}

.menu-item {
    flex-grow: 1;
    background-color: hsl(202, 32%, 76%);
    color: black;
    text-align: center;
    text-shadow: 1px 1px 4px;
    font-weight: bold;
    font-size: 1.3em;
    margin: 1px;
    border: 1px solid black;
    border-radius: 2px;

    box-shadow: 0 4px 4px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.menu-item a {
    text-decoration: none;
    padding: 10px;
    display: block;
}
/* NAV - END */

/* MAIN - START */
.main {
    grid-area: mn;
    border: 1px solid;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: stretch;
    padding: 5px;
}

.div-card-small {
    flex-grow: 1;
    flex-basis: 40%;
    margin: 5px;
    -webkit-box-shadow: 4px 4px 2px -2px rgba(0,0,0,0.77);
    box-shadow: 4px 4px 2px -2px rgba(0,0,0,0.77);
}

.div-card-big {
    flex-grow: 1;
    flex-basis: 80%;
    margin: 5px;
    -webkit-box-shadow: 4px 4px 2px -2px rgba(0,0,0,0.77);
    box-shadow: 4px 4px 2px -2px rgba(0,0,0,0.77);
}

.card-img-container img {
    width: 100%;
    overflow: hidden;
}
/* MAIN - END */


/* FOOTER - START */
.footer {
    background-color: hsl(202, 32%, 76%);
    grid-area: ft;
    border: 1px solid;
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.footer-left {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 1px solid;
    text-align: center;
    flex-direction: column;
}

.h4-contacto {
    display: block;
    text-align: center;
    font-size: 1.3rem;
}

.contact-icons-ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    padding: 5px;
    
}

.icons-li {
    margin: 5px;
    padding: 2px;
    text-align: center;
    width: 100%;
}

.icons {
    max-width: 35px;
}

.footer-link {
    display: block;
}

.footer-right {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.map-container {
    width: 100%;
    overflow: hidden;
}
.map-iframe {
    width: 100%;
    height: fit-content;
    padding: 10px;
}
/* FOOTER - END */

@media screen and (max-width:576px){
    .header h1 a {
        font-size: 1.9rem;
    }
}

@media screen and (min-width:576px){
    .div-card-small {
        flex-basis: 30%;
    }

    .div-card-big {
        flex-basis: 45%;
    }
}

@media screen and (min-width:768px){
    .footer {
        flex-direction: row;
    }

    .footer-left {
        width: 25%;
    }

    .contact-icons-ul {
        flex-direction: column;

    }

    .footer-right {
        width: 75%;
    }
}