* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
}

h1 {
    font-size: 3.2em;
    font-family: 'Signika', sans-serif;
    display: inline-block;
    color: azure;
    text-shadow:  1px 1px black;
}

h1 a {
    text-decoration: none;
}

a:visited {
    color: inherit
}

/* body-grid */
.body-grid {
    background-color: hsl(217, 15%, 44%);
    width: 100vw;
    height: 100vh;
    padding: 1px;

    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr auto 1fr 1fr 1fr 0.8fr;
    grid-template-areas:    "hd hd hd hd"
                            "nv nv nv nv"
                            "mn mn mn mn"
                            "mn mn mn mn"
                            "mn mn mn mn"
                            "ft ft ft ft"; 
}

.main-container {
    grid-area: mn;
    overflow-x:hidden;
    display: grid;
    padding: 5px;
    
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    border-top: 1px solid black;
    justify-items: center;
    overflow-y: scroll;

}

/* div index.html */
.div-container-small {
    padding: 5px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    position: relative;
}

.div-container-big {
    padding: 5px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    position: relative;
    grid-row-end:span 2;

}

div > img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    z-index: 50;
}

div > h3 {
    color: rgb(0, 0, 0);
    font-size: 1.2em;
    position: absolute;
    z-index: 60;
    bottom: 12px;
    left: 10px;
    overflow:hidden;

}


/* header */
.header-container {
    background-image:url("../assets/header-bg-2.png");
    background-position:center;
    background-size:cover;
    background-repeat: no-repeat;
    


    border-bottom: 2px solid black;
    padding: 10px;
    text-align: center;
    grid-area: hd;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* nav */
.nav-container {
    background-color: hsl(213, 32%, 26%);
    grid-area: nv;
}

/* sidebar */
.sidebar-menu-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    list-style-type: none;
    
}

nav ul li {
    flex-grow: 1;
    background-color: hsl(202, 32%, 76%);
    color: black;
    text-align: center;
    text-shadow: 1px 1px 4px;
    font-weight: bold;
    font-size: 1.3em;
    margin: 1px;
    border: 1px solid black;
    border-radius: 2px;

    box-shadow: 0 4px 4px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    
}

nav ul li a {
    text-decoration: none;
}

/* make clickable area occupy all container */
.sidebar-link {
    display:block;
    padding:10px;
}

/* link style on hover */
li a:hover {
    background-color: hsl(0, 0%, 15%);
    color: white;
    text-shadow: 1px 1px 5px;
}


/* footer */
.footer-container {
    background-color: hsl(213, 32%, 26%);
    border-top: 1px solid black;
    padding: 0px;
    grid-area: ft;
    display: flex;
}

/* div-left-footer */
.footer-left {
    width: 35%;
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    flex-direction: column;
}

/* div-right-footer */
.footer-right {
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

/* map iframe sizing */
.map-container {
    width: 75%;
    height: 75%;
}

.map-iframe {
    width: 100%;
    height: fit-content;
}


.contact-icons-ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    list-style-type: none;
    margin: 20px;
}


/* contact icons */
.icons {
    max-width: 30px;
    max-height: 30px;

}

/* contact icons links */
.footer-link {
    display:inline;
    padding:10px;
}

.icons-li {
    width: 50%;
    height: 40px;
    margin: 2px;
    border: 1px solid black;
    text-decoration: none;
}

h4 {
    font-size: 1.2em;
    margin: 2px;
}

h5 {
    font-size: 1em;
    margin: 1px;
}


/* gallery container trabajos.html */
#gallery-div {
    border: 1px solid black;
    background-color: rgb(106, 110, 109);
    grid-column-end: span 4;
    grid-row-end: span 4;
}


/* form section registro.html */
.form-section {
    grid-column-end: span 5;
    grid-row-end: span 5;
    margin: 10px;
    padding: 10px;
    overflow: hidden;
    justify-self: left;
}

.form-title-div {
    margin: 5px;
}

.form-input {
    margin: 5px;
}

.form-text-area {
    margin: 5px;
}

/* section (general) */
section  {
    margin:10px;
    padding:10px;
}

/* text container acercade.html */
.text-section-acercade {
    grid-column-end: span 5;
    grid-row-end: span 2;
    margin: 10px;
    padding: 10px;
    overflow-y: scroll;
    overflow-x: hidden;
    justify-self: left;
}

.text-section-servicios {
    grid-row-end: span 2;
    grid-column-end: span 5;
    margin: 10px;
    padding: 10px;
    overflow-y: scroll;
    overflow-x: hidden;
    justify-self: stretch;
}


/* img container acercade.html */
.acercade-img-div {
    grid-column-end: span 5;
    grid-row-start: 3;
    grid-row-end: span 2;

    margin: 5px;
    padding: 5px;

    display: flex;
    justify-content:space-evenly;
}

.div-img1 {
    margin: 5px;
    padding: 5px;
    height: max-content
}

.div-img2 {
    margin: 5px;
    padding: 5px;
    height: max-content;
}

.div-img3 {
    margin: 5px;
    padding: 5px;
    height: max-content;
}

/* img container servicios.html */
.servicios-img-div {
    grid-column-end: span 5;
    grid-row-start: 3;
    grid-row-end: span 2;

    margin: 5px;
    padding: 5px;

    display: flex;
    justify-content:space-evenly;
}

