* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
}

/* GENERAL */
a {
    text-decoration: none;
}
a:visited {
    color:initial;
}


/* BODY - START */
.body {
    display: grid;
    /* mobile view */
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 200px 60px 1fr 1fr 1fr 320px;
    grid-template-areas:    "hd hd"
                            "nv nv"
                            "mn mn"
                            "mn mn"
                            "mn mn"
                            "ft ft";
}
/* BODY - END */


/* HEADER - START */
.header {
    grid-area: hd;
    border: 1px solid;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
/* HEADER - END */


/* NAV - START */
.nav {
    grid-area: nv;
    background-color: rgb(103, 156, 192);

    position: sticky;
    top:0;
}

.menu-list {
    display: flex;
    list-style: none;
    justify-content: space-around;
}
/* NAV - END */

/* MAIN - START */
.main {
    grid-area: mn;
    border: 1px solid;

    padding: 5px;
}

.div-card-small {
    
}
/* MAIN - END */


/* FOOTER - START */
.footer {
    grid-area: ft;
    border: 1px solid;
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.footer-left {
    border: 1px solid;
}

.footer-left h4 {
    display: flex;
    justify-content: center;
    
}

.contact-icons-ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    padding: 10px;
    
}

.icons-li {
    margin: 5px;
}

.icons {
    max-width: 35px;
}

.footer-right {
    display: flex;
    flex-direction: column;
}

.map-container {
    width: 100%;
    overflow: hidden;
}
.map-iframe {
    width: 100%;
    height: fit-content;
    padding: 10px;
}
/* FOOTER - END */

